-- MariaDB dump 10.19  Distrib 10.8.2-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: spug
-- ------------------------------------------------------
-- Server version	10.8.2-MariaDB-1:10.8.2+maria~focal-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
INSERT INTO `audit_logs` VALUES
(1,1,'admin','login','auth',NULL,'登录失败','用户名或密码错误，连续多次错误账户将会被禁用','172.21.0.1',0,'admin','2026-05-30 10:25:07'),
(2,1,'admin','login','auth',NULL,'登录系统',NULL,'172.21.0.1',1,'admin','2026-05-30 10:25:11');
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_celery_beat_clockedschedule`
--

LOCK TABLES `django_celery_beat_clockedschedule` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_clockedschedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_beat_clockedschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_celery_beat_crontabschedule`
--

LOCK TABLES `django_celery_beat_crontabschedule` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_crontabschedule` DISABLE KEYS */;
INSERT INTO `django_celery_beat_crontabschedule` VALUES
(1,'0','4','*','*','*','Asia/Shanghai'),
(2,'0','2','*','*','*','Asia/Shanghai'),
(3,'0','3','*','*','*','Asia/Shanghai'),
(4,'*/10','*','*','*','*','Asia/Shanghai'),
(5,'0','5','*','*','*','Asia/Shanghai');
/*!40000 ALTER TABLE `django_celery_beat_crontabschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_celery_beat_intervalschedule`
--

LOCK TABLES `django_celery_beat_intervalschedule` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_intervalschedule` DISABLE KEYS */;
INSERT INTO `django_celery_beat_intervalschedule` VALUES
(1,3600,'seconds');
/*!40000 ALTER TABLE `django_celery_beat_intervalschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_celery_beat_periodictask`
--

LOCK TABLES `django_celery_beat_periodictask` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_periodictask` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_beat_periodictask` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_celery_beat_periodictasks`
--

LOCK TABLES `django_celery_beat_periodictasks` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_periodictasks` DISABLE KEYS */;
INSERT INTO `django_celery_beat_periodictasks` VALUES
(1,'2026-05-30 10:23:03.380211');
/*!40000 ALTER TABLE `django_celery_beat_periodictasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_celery_beat_solarschedule`
--

LOCK TABLES `django_celery_beat_solarschedule` WRITE;
/*!40000 ALTER TABLE `django_celery_beat_solarschedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_beat_solarschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_celery_results_chordcounter`
--

LOCK TABLES `django_celery_results_chordcounter` WRITE;
/*!40000 ALTER TABLE `django_celery_results_chordcounter` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_results_chordcounter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_celery_results_groupresult`
--

LOCK TABLES `django_celery_results_groupresult` WRITE;
/*!40000 ALTER TABLE `django_celery_results_groupresult` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_results_groupresult` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_celery_results_taskresult`
--

LOCK TABLES `django_celery_results_taskresult` WRITE;
/*!40000 ALTER TABLE `django_celery_results_taskresult` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_celery_results_taskresult` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `login_histories`
--

LOCK TABLES `login_histories` WRITE;
/*!40000 ALTER TABLE `login_histories` DISABLE KEYS */;
INSERT INTO `login_histories` VALUES
(1,'admin','default','172.21.0.1','PC / Windows 10 / Edge 148.0.0','用户名或密码错误，连续多次错误账户将会被禁用',0,'2026-05-30 10:25:07'),
(2,'admin','default','172.21.0.1','PC / Windows 10 / Edge 148.0.0',NULL,1,'2026-05-30 10:25:11');
/*!40000 ALTER TABLE `login_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `navigations`
--

LOCK TABLES `navigations` WRITE;
/*!40000 ALTER TABLE `navigations` DISABLE KEYS */;
/*!40000 ALTER TABLE `navigations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notices`
--

LOCK TABLES `notices` WRITE;
/*!40000 ALTER TABLE `notices` DISABLE KEYS */;
/*!40000 ALTER TABLE `notices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_checksheet_daily_summary`
--

LOCK TABLES `tdyw_checksheet_daily_summary` WRITE;
/*!40000 ALTER TABLE `tdyw_checksheet_daily_summary` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_checksheet_daily_summary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_checksheet_record`
--

LOCK TABLES `tdyw_checksheet_record` WRITE;
/*!40000 ALTER TABLE `tdyw_checksheet_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_checksheet_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_checksheet_template`
--

LOCK TABLES `tdyw_checksheet_template` WRITE;
/*!40000 ALTER TABLE `tdyw_checksheet_template` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_checksheet_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_device_event`
--

LOCK TABLES `tdyw_device_event` WRITE;
/*!40000 ALTER TABLE `tdyw_device_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_device_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_device_resume`
--

LOCK TABLES `tdyw_device_resume` WRITE;
/*!40000 ALTER TABLE `tdyw_device_resume` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_device_resume` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_document_file_private`
--

LOCK TABLES `tdyw_document_file_private` WRITE;
/*!40000 ALTER TABLE `tdyw_document_file_private` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_document_file_private` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_document_file_public`
--

LOCK TABLES `tdyw_document_file_public` WRITE;
/*!40000 ALTER TABLE `tdyw_document_file_public` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_document_file_public` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_document_folder_private`
--

LOCK TABLES `tdyw_document_folder_private` WRITE;
/*!40000 ALTER TABLE `tdyw_document_folder_private` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_document_folder_private` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_document_folder_public`
--

LOCK TABLES `tdyw_document_folder_public` WRITE;
/*!40000 ALTER TABLE `tdyw_document_folder_public` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_document_folder_public` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_document_transfer`
--

LOCK TABLES `tdyw_document_transfer` WRITE;
/*!40000 ALTER TABLE `tdyw_document_transfer` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_document_transfer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_duty_records`
--

LOCK TABLES `tdyw_duty_records` WRITE;
/*!40000 ALTER TABLE `tdyw_duty_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_duty_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_fault_parts`
--

LOCK TABLES `tdyw_fault_parts` WRITE;
/*!40000 ALTER TABLE `tdyw_fault_parts` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_fault_parts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_fault_records`
--

LOCK TABLES `tdyw_fault_records` WRITE;
/*!40000 ALTER TABLE `tdyw_fault_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_fault_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_interferences`
--

LOCK TABLES `tdyw_interferences` WRITE;
/*!40000 ALTER TABLE `tdyw_interferences` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_interferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_run_log_updates`
--

LOCK TABLES `tdyw_run_log_updates` WRITE;
/*!40000 ALTER TABLE `tdyw_run_log_updates` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_run_log_updates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_run_logs`
--

LOCK TABLES `tdyw_run_logs` WRITE;
/*!40000 ALTER TABLE `tdyw_run_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_run_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_schedule`
--

LOCK TABLES `tdyw_schedule` WRITE;
/*!40000 ALTER TABLE `tdyw_schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_schedule_shift`
--

LOCK TABLES `tdyw_schedule_shift` WRITE;
/*!40000 ALTER TABLE `tdyw_schedule_shift` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_schedule_shift` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_schedule_shift_time`
--

LOCK TABLES `tdyw_schedule_shift_time` WRITE;
/*!40000 ALTER TABLE `tdyw_schedule_shift_time` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_schedule_shift_time` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_schedule_staff`
--

LOCK TABLES `tdyw_schedule_staff` WRITE;
/*!40000 ALTER TABLE `tdyw_schedule_staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_schedule_staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_schedule_substitute`
--

LOCK TABLES `tdyw_schedule_substitute` WRITE;
/*!40000 ALTER TABLE `tdyw_schedule_substitute` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_schedule_substitute` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_schedule_swap`
--

LOCK TABLES `tdyw_schedule_swap` WRITE;
/*!40000 ALTER TABLE `tdyw_schedule_swap` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_schedule_swap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_upgrade_checklist_steps`
--

LOCK TABLES `tdyw_upgrade_checklist_steps` WRITE;
/*!40000 ALTER TABLE `tdyw_upgrade_checklist_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_upgrade_checklist_steps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_upgrade_checklists`
--

LOCK TABLES `tdyw_upgrade_checklists` WRITE;
/*!40000 ALTER TABLE `tdyw_upgrade_checklists` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_upgrade_checklists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_upgrade_record_steps`
--

LOCK TABLES `tdyw_upgrade_record_steps` WRITE;
/*!40000 ALTER TABLE `tdyw_upgrade_record_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_upgrade_record_steps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_upgrade_records`
--

LOCK TABLES `tdyw_upgrade_records` WRITE;
/*!40000 ALTER TABLE `tdyw_upgrade_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_upgrade_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tdyw_upgrade_templates`
--

LOCK TABLES `tdyw_upgrade_templates` WRITE;
/*!40000 ALTER TABLE `tdyw_upgrade_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `tdyw_upgrade_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_role_rel`
--

LOCK TABLES `user_role_rel` WRITE;
/*!40000 ALTER TABLE `user_role_rel` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_role_rel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user_settings`
--

LOCK TABLES `user_settings` WRITE;
/*!40000 ALTER TABLE `user_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES
(1,'admin','管理员','pbkdf2_sha256$150000$TLlNVPXrK2Qb$IeGaTZu7Hnq5Szx7uljWLRqFvSb07AC6tyYHpfpaIhw=','default',1,1,'17df8b29621040f5b28ccf5ef5845d9d',1780137119,'2026-05-30 10:25:11','172.21.0.1',NULL,'admin','2026-05-29 23:03:26',NULL,NULL,NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-30  2:33:15
